@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 100vw;
    width: 20px;
}

.lists {
  margin-top: -100px;
}

footer {
  margin: 50px 0;
  text-align: center;
}

.movieRow--left,
.movieRow--right {
   position: absolute;
   width: 40px;
   height: 225px;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 99;
   display: flex;
   align-items: center;
   justify-items: center;
   overflow: hidden;
   cursor: pointer;
   opacity: 0;
   transition: all ease 0.5s;
} 

.movieRow--left span {
   font-size: 50px;
}
.movieRow--right span {
   font-size: 50px;
}

.movieRow--left {
   left: 0;
}

.movieRow--right {
   right: 0;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 1;
}
