.movieRow {
  margin-bottom: 0px;
}

h2 {
  margin: 0px 0px 0px 30px;
}

.movieRow--listArea {
   overflow-x: hidden;
   padding-left: 30px;
}

.movieRow--list {
  width: 999999px;
}

.movieRow--item {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.movieRow--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
  animation: nice 0.85s ease-in-out; 
}

@keyframes nice {
  from{
    transform: scale(0.8);
  }
  to{}
}

.movieRow--item img:hover {
  transform: scale(1)
}
